* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.holder {
  background-color: #333;
  width: 30px;
  height: 180px;
  color: aqua;
}

.frame {
  border-radius: 10px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.red,
.yellow,
.green {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  margin: 10px;
  margin-top: 20px;
}
.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.highlight {
  box-shadow: 0 0 25px 20px rgba(222, 229, 222, 0.75);
}
